{:kotoba.app/id "cloud.itonami.isic-4741", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibrpfdf6mxmf3gduhddlpcve6vxelou3iblo2sn7kp3mz7lsnrhpe", :kotoba.app/embed-url "ipfs://bafkreibrpfdf6mxmf3gduhddlpcve6vxelou3iblo2sn7kp3mz7lsnrhpe", :published {:archive "https://kotobase.net/ipfs/bafkreibrpfdf6mxmf3gduhddlpcve6vxelou3iblo2sn7kp3mz7lsnrhpe", :size 72811, :put-status 201, :get-status 200, :at "2026-08-15T13:59:02.248Z"}}
